<header>
    <div class="topnav" id="myTopnav">
        <a href="{{ path ("index") }}">Home</a>
        <a href="{{ path ("program_index") }}">program</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>